/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}
/* PC */

/* Tablet && mobile*/
@media screen and (max-width: 991px) {
    .mobile__header {
        display: block;
    }
    .navbar {
        position: relative;
    }
    .navbar ul {
        display: none;
    }
    .navbar img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle__menu svg {
        width: 24px;
        color: #666;
        cursor: pointer;
    }

    .menu__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    .menu__drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    .menu__check:checked + .menu__overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu__check:checked ~ .menu__drawer {
        transform: translateX(0);
    }

    .menu__drawer ul {
        margin-top: 32px;
    }

    .menu__drawer ul a {
        display: block;
        color: #333;
        padding: 14px 0;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .hero img {
        display: none;
    }

    .hero .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero .info .desc {
        width: 80%;
        text-align: center;
        margin: 30px auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        flex: 1;
        margin: 0;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
        margin-top: 100px;
    }

    .stats .info {
        padding: 0;
        order: 1;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row.row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 4.5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}
/* Tablet && mobile*/

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu__drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .action {
        display: none;
    }

    .separate {
        border-top: 1px solid #ebebeb;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }
    .hero .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }

    .hero .info .desc {
        width: 100%;
    }

    .clients .row.row-desc {
        display: flex;
        justify-content: center;
    }

    .clients .images {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block {
       margin-top: 180px;
    }
    
    .stats .img-block .image {
        width: 100%;
    }

    .stats .row.row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .stats-trend {
        left: 20px;
    }

    .subscription .info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top  {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}
/* Mobile */

/*  */
